@import "tailwindcss";

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0);
  }
}

.flutuando {
  animation: flutuar 3s ease-in-out infinite;
}
.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-1 {
  animation-delay: 0.3s;
}
.animation-delay-2 {
  animation-delay: 0.6s;
}
.animation-delay-3 {
  animation-delay: 0.9s;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #04a859;
  --secondary: #374888;
  --gira: #ef4003;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-green: var(--primary);
  --color-secondary-blue: var(--secondary);
  --color-gira: var(--gira)
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}
