p {
  color: white;
  opacity: 0.9;
  font-size: 20px;
}

h2 {
  color: #374888;
  font-size: 24px;
}

h3 {
  color: #374888;
  font-size: 20px;
}

li {
  color: white;
  opacity: 0.9;
  font-size: 20px;
}